table td.supply:before {
	content: '';
	position: absolute;
	top: 14px;
	right: 19px;
	width: 0;
	height: 0;
	border-top: 57px solid #ff6622;
	border-left: 57px solid transparent;
}

table td.supply:after {
	content: '供给';
	position: absolute;
	top: 17px;
	right: 26px;
	color: #fff;
}

table td.demand:before {
	content: '';
	position: absolute;
	top: 14px;
	right: 19px;
	width: 0;
	height: 0;
	border-top: 48px solid #00adec;
	border-left: 48px solid transparent;
}

table td.demand:after {
	content: '赞助';
	position: absolute;
	top: 17px;
	right: 26px;
	color: #fff;
}

table .photo img {
  width: 215px;
  height: 187px;
}

table .desc {
  margin: 0.5em 0 0 0;
}

table .desc-row {
  position: relative;
  color: #5e5e5e;
}
table .desc-row .col-l{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
}
table .desc-row:last-child {
  margin: 0.3em 0 0 0;
}

table .desc-row .col-r {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #b0b0b0;
}

table .desc-row .cost {
  font-size: 16px;
  color: #4072f1;
}

.section.headlines div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
.section.headlines table,td,tr,th{font-size:12px;}
.section.headlines ol,ul {list-style:none;}
.section.headlines li{list-style-type:none;}
.section.headlines img{vertical-align:top;border:0;}
.section.headlines h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
.section.headlines address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.section.headlines .hx a,.hx em,.fB{font-weight:bold;}
.section.headlines .clearfix{*zoom:1;}
.section.headlines .clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.section.headlines a {color:#252525; text-decoration:none;}
.section.headlines a:visited {text-decoration:none;}
.section.headlines a:hover {color:#ba2636;text-decoration:underline;}
.section.headlines a:active {color:#ba2636;}
.section.headlines .list-tweet i{background-image:url(../images/icon_v7.png);background-repeat:no-repeat;}
.section.headlines .i-entry{padding:2px 22px 2px 0;background-position:right -89px;}
.section.headlines .dom-display .normal{display:none;}
.section.headlines .dom-display .current{display:block;}
.section.headlines .area-sub{width:300px;overflow:hidden;margin:50px auto}

.section.headlines .tab-bd{height:auto;}

.section.headlines .ui-style-gradient{border-top:2px solid #206F96;}
.section.headlines .ui-style-gradient .tab-hd,.ui-style-gradient .box-hd{background:#F7F7F7;}
.section.headlines .ui-style-gradient .tab-hd-con,.ui-style-gradient .box-hd{background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 254, 254)), to(rgb(237, 237, 237)));background-image: -webkit-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -moz-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -o-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: -ms-linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));background-image: linear-gradient(top, rgb(254, 254, 254), rgb(237, 237, 237));}
.section.headlines .tab-hd-con{float:left;font-size:14px;text-align:center;cursor:pointer;}
.section.headlines .tab-hd-con a{display:inline-block;}
.section.headlines .tab-hd .current{font-weight:bold;}
.section.headlines .tab-bd-con{display:none;overflow:hidden;}
.section.headlines .tab-ft{margin-top:8px;line-height:20px;color:#c1c1c1;text-align:right;}
.section.headlines .tab-ft a,.tab-ft a:visited{color:#666;}
.section.headlines .tab-ft a:hover{color:#ba2636;}
.section.headlines .tab-main-3 .tab-hd-con{width:102px;}
.section.headlines .tab-sub-2 .tab-hd-con{width:148px;}
.section.headlines .tab-sub-2 .tab-hd .current{width:149px;}
.section.headlines .tab-sub-3 .tab-hd-con{width:98px;}
.section.headlines .tab-sub-3 .tab-hd .current{width:100px;}
.section.headlines .tab-sub-4 .tab-hd-con{width:73px;}
.section.headlines .tab-sub-4 .tab-hd .current{width:76px;}
.section.headlines .tab-area .tab-hd-con{width:102px;}
.section.headlines .tab-main .tab-hd,.tab-sub .tab-hd,.tab-product .tab-hd,.tab-area .tab-hd{overflow:hidden;height:30px;line-height:30px;border-left:1px solid #CFCFCF;}
.section.headlines .tab-main .tab-hd-con,.tab-sub .tab-hd-con,.tab-product .tab-hd-con,.tab-area .tab-hd-con{height:29px;border-right:1px solid #CFCFCF;}
.section.headlines .tab-main .tab-hd .current,.tab-sub .tab-hd .current,.tab-product .tab-hd .current,.tab-area .tab-hd .current{position:relative;z-index:1;height:30px;background:#fff;}
.section.headlines .tab-main .tab-bd,.tab-sub .tab-bd,.tab-product .tab-bd,.tab-area .tab-bd{margin-top:-1px;border-top:1px solid #CFCFCF;}
.section.headlines .tab-sub .tab-bd,.tab-product .tab-bd,.box-sub .box-bd{border-right:1px solid #CFCFCF;border-bottom:1px solid #CFCFCF;border-left:1px solid #CFCFCF;}
.section.headlines .tab-main .tab-bd-con,.tab-sub .tab-bd-con,.tab-ad .tab-bd-con,.tab-area .tab-bd-con{padding-top:18px;}
.section.headlines .tab-sub .tab-bd-con{padding-right:9px;padding-left:13px;}
.section.headlines .tab-main .tab-bd-con{padding-right:10px;}
.section.headlines .list-tweet{height:910px;overflow:hidden;}
.section.headlines .list-tweet li,.list-tweet i{-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s;}
.section.headlines .list-tweet li{float:left;overflow:hidden;padding:0 9px 0 14px;border-bottom:1px solid #E3E6EB; width: 98%;}
.section.headlines .list-tweet i{float:right;width:17px;height:17px;overflow:hidden;margin-top:13px;*display:inline;}
.section.headlines .list-tweet h3{line-height:46px;height:46px;overflow:hidden;font-size:14px;}
.section.headlines .list-tweet img{float:left;margin-right:9px; width: 120px; height: 120px;}
.section.headlines .list-tweet p{font-size:12px;height:84px;line-height:21px;color:#666;}
.section.headlines .drink-me{height:46px;background:#fff;}
.section.headlines .drink-me i{font-size:14px;opacity:1;text-indent:-10em;}
.section.headlines .eat-me{height:180px;}
.section.headlines .eat-me:hover{background:#F7F7F7;}
.section.headlines .eat-me i{*display:none;opacity:0;}
.section.headlines .eat-me h3{font-weight:bold;}
.section.headlines .tweet-detail-func{float:right;font-size:12px;line-height:22px;color:#ddd;}
.section.headlines .tweet-detail-func a,.tweet-detail-func a:visited{padding:0 6px;color:#174F82;}
.section.headlines .tweet-detail-func a:hover{color:#ba2636;}
.section.headlines .tweet-xxl{color:#A62F3A;background-position:left -599px;}
.section.headlines .tweet-xl{color:#C35A4D;background-position:left -618px;}
.section.headlines .tweet-l{color:#DC754B;background-position:left -638px;}
.section.headlines .tweet-m{color:#F4904B;background-position:left -658px;}
.section.headlines .tweet-s{color:#E1E1E1;background-position:left -658px;}
.section.headlines .tab-main .lh-import-news{background:url(../images/importnewsheader3.jpg) no-repeat 0 10px;padding-top:5px;}
.section.headlines .special,.column{padding-right:9px;padding-left:16px;font-size:14px;line-height: 27px;}
.section.headlines .column-title{width:50px;height:21px;margin-top:15px;margin-bottom:6px;font-size:12px;line-height:21px;text-align:center;color:#fff;}
.section.headlines .column-title a{padding:2px 12px;border-bottom:2px solid #E0E5EF;color:#fff;}
.section.headlines .column-title a:hover{text-decoration:none;}
.section.headlines .lump-blue{background:#2D7EAA;}
.section.headlines .lump-green{background:#70A33B;}
.section.headlines .lump-gray{background:#656565;}
.section.headlines .lump-red{background:#DC233E;}
.section.headlines .special img{margin:15px 0;}
.section.headlines .special p{padding-top:6px;height:22px;line-height:22px;font-size:14px;overflow:hidden;}

.section.headlines .rich-text-to-be-simple-brief-text {
	text-overflow: ellipsis;
	overflow: hidden;
}

.proj_tj {
	/* 项目推荐表格 */
	width: 955px !important;
}

.proj_tj tr {
	padding: 0 !important;
	margin: 0 !important;
	height: 302px;
}

.proj_tj td {
	padding: 0 !important;
	margin: 0 !important;
}

.proj_tj td>div {
	/* 创建block */
	width: 100%;
	height: auto;
	margin: 0;
	padding: 14px 14px;
	border: 0;
	box-sizing: border-box;
}


















