.datepicker-container {
  font-size: 12px;
  line-height: 30px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 210px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  direction: ltr!important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none
}

.datepicker-container:after, .datepicker-container:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: ' ';
  border: 5px solid transparent
}

.datepicker-dropdown {
  position: absolute;
  z-index: 1;
  box-sizing: content-box;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px #ccc
}

.datepicker-inline {
  position: static
}

.datepicker-top-left, .datepicker-top-right {
  border-top-color: #39f
}

.datepicker-top-left:after, .datepicker-top-left:before, .datepicker-top-right:after, .datepicker-top-right:before {
  top: -5px;
  left: 10px;
  border-top: 0
}

.datepicker-top-left:before, .datepicker-top-right:before {
  border-bottom-color: #39f
}

.datepicker-top-left:after, .datepicker-top-right:after {
  top: -4px;
  border-bottom-color: #fff
}

.datepicker-bottom-left, .datepicker-bottom-right {
  border-bottom-color: #39f
}

.datepicker-bottom-left:after, .datepicker-bottom-left:before, .datepicker-bottom-right:after, .datepicker-bottom-right:before {
  bottom: -5px;
  left: 10px;
  border-bottom: 0
}

.datepicker-bottom-left:before, .datepicker-bottom-right:before {
  border-top-color: #39f
}

.datepicker-bottom-left:after, .datepicker-bottom-right:after {
  bottom: -4px;
  border-top-color: #fff
}

.datepicker-bottom-right:after, .datepicker-bottom-right:before, .datepicker-top-right:after, .datepicker-top-right:before {
  right: 10px;
  left: auto
}

.datepicker-panel>ul:after, .datepicker-panel>ul:before {
  display: table;
  content: ' '
}

.datepicker-panel>ul:after {
  clear: both
}

.datepicker-panel>ul {
  width: 102%;
  margin: 0;
  padding: 0
}

.datepicker-panel>ul>li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff
}

.datepicker-panel>ul>li.highlighted, .datepicker-panel>ul>li:hover {
  background-color: #e6f2ff
}

.datepicker-panel>ul>li.muted, .datepicker-panel>ul>li.muted:hover {
  color: #999
}

.datepicker-panel>ul>li.highlighted:hover {
  background-color: #cce6ff
}

.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover {
  color: #39f
}

.datepicker-panel>ul>li.disabled, .datepicker-panel>ul>li.disabled:hover {
  cursor: default;
  color: #ccc;
  background-color: #fff
}

.datepicker-panel>ul>li.disabled.highlighted, .datepicker-panel>ul>li.disabled:hover.highlighted {
  background-color: #e6f2ff
}

.datepicker-panel>ul>li[data-view='years prev'], .datepicker-panel>ul>li[data-view='year prev'], .datepicker-panel>ul>li[data-view='month prev'], .datepicker-panel>ul>li[data-view='years next'], .datepicker-panel>ul>li[data-view='year next'], .datepicker-panel>ul>li[data-view='month next'], .datepicker-panel>ul>li[data-view=next] {
  font-size: 18px
}

.datepicker-panel>ul>li[data-view='month current'], .datepicker-panel>ul>li[data-view='years current'], .datepicker-panel>ul>li[data-view='year current'] {
  width: 150px
}

.datepicker-panel>ul[data-view=years]>li, .datepicker-panel>ul[data-view=months]>li {
  line-height: 52.5px;
  width: 52.5px;
  height: 52.5px
}

.datepicker-panel>ul[data-view=week]>li, .datepicker-panel>ul[data-view=week]>li:hover {
  cursor: default;
  background-color: #fff
}

.datepicker-hide {
  display: none
}

.modify-section {
  background-color: #f4f4f4;
  padding: 40px 0
}

.modify-section .modify-form-box {
  padding: 50px 84px
}

.modify-section .form-group {
  max-width: 600px;
  margin: 0 0 1.2em 0
}

.modify-section .form-group>div {
  display: inline-block;
  vertical-align: middle
}

.modify-section .label-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em 0
}

.modify-section .label-btn:hover {
  cursor: pointer
}

.modify-section .label-btn span {
  border-radius: 0.3em;
  padding: 0.5em 1.2em;
  margin: 0 0.2em;
  border: 1px solid #d9d9d9;
  display: inline-block
}

.modify-section .label-btn input {
  opacity: 0;
  width: 0;
  height: 0
}

.modify-section .label-btn input:checked+span {
  border: 1px solid #00acec;
  background-color: #00acec;
  color: #fff
}

.modify-section .input-style {
  width: 370px;
  height: 32px;
  border-radius: 0.3em;
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 0 0.5em;
  box-sizing: border-box
}

.modify-section .input-style.w2 {
  width: 6em;
  text-align: center
}

.modify-section .input-style.w20 {
  width: 14em;
  margin: 0.5em 0 0 0
}

.modify-section .form-group-label {
  padding: 0.5em 0
}

.modify-section .form-group-label.ib {
  padding: 0
}

.modify-section .form-group-content {
  margin: 0.5em 0 0 0
}

.modify-section .form-group-content p {
  margin: 0 0 0.5em 0
}

.modify-section .describe-input {
  width: 100%;
  max-width: 100%
}

.modify-section .describe-input .form-group-content {
  margin: 0
}

.modify-section .describe-input .form-group-content textarea {
  height: 380px
}

.modify-section .myselect {
  width: 130px;
  height: 30px;
  outline: none;
  padding: 0 2em 0 1em;
  border: 1px solid #d9d9d9;
  margin: 0 0.2em;
  background: url('../images/bg-arrows.png') no-repeat 94% 50% / 0.8em;
  box-sizing: border-box;
  background-color: #fff
}

.modify-section .upload-photo-group {
  display: inline-block;
  vertical-align: middle
}

.modify-section .upload-photo-group .upload-preview {
  position: relative;
  width: 116px;
  height: 64px;
  border: 1px dashed #999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle
}

.modify-section .upload-photo-group .upload-preview.empty:before {
  content: '上传封面';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin: -0.5em 0 0 0;
  color: #999
}

.modify-section .upload-photo-group .upload-preview input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.modify-section .upload-photo-group .upload-preview input:hover {
  cursor: pointer
}

.modify-section .upload-photo-group span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 1em;
  color: #878787
}

.modify-section .publish-form-clause {}

.modify-section .publish-form-clause .myCheckbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em
}

.modify-section .publish-form-clause .myCheckbox input {
  opacity: 0;
  width: 0;
  height: 0
}

.modify-section .publish-form-clause .myCheckbox input:checked+span:after {
  content: '\2713';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1em;
  text-align: center;
  color: #00acec
}

.modify-section .publish-form-clause .myCheckbox span {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #999
}

.modify-section .publish-form-clause a {
  color: #00acec
}

.modify-section .publish-form-submit {}

.modify-section .publish-form-submit button:hover {
  cursor: pointer
}

.modify-section .publish-form-submit button[type="button"] {
  background-color: #fff;
  outline: none;
  border: 0;
  color: #00acec;
  margin: 0 0 0 1em
}

.modify-section .publish-form-submit button[type='submit'] {
  width: 160px;
  height: 46px;
  outline: none;
  border: 0;
  background-color: #00acec;
  color: #fff;
  border-radius: 0.2em;
  margin: 0 1.5em 0 0
}

.modify-section .form-modify-btn-bar {}

.modify-section .form-modify-btn-bar button {
  border: 0;
  border-radius: 0.4em;
  outline: none;
  width: 156px;
  height: 40px;
  margin: 0 1em 0 0;
  background-color: #00acec;
  color: #fff
}

.modify-section .topic-photo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 115px;
  overflow: hidden
}

.modify-section .topic-photo input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0
}

.modify-section .topic-photo input:hover {
  cursor: pointer
}

.hide{
  display: none;
}
