<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengan.business.repo.entity.JkFootDetailMapper">
	<resultMap id="BaseResultMap" type="com.chengan.business.repo.model.JkFootDetail">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pid" jdbcType="INTEGER" property="pId" />
		<result column="foot_pic_path" jdbcType="VARCHAR" property="footPicPath" />
	</resultMap>
	
</mapper>